.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 10px 0;
  flex-shrink: 1;
  align-self: center;
}

.right-links ul {
  margin-right: 50px;
}

.left-links ul {
  margin-left: 10px;
  margin-right: 35px;
}

ul {
  /* this removes the dots on the list items */
  list-style-type: none;
  display: flex;
  width: 250px;
  flex-shrink: 1;
  justify-content: space-between;
  list-style-position: outside;
}

li {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
}

a {
  text-decoration: none;
}